form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 30%;
    height: 30px;
    border: coral 5px solid;
    margin: 1%;
}

.hidden {
    display: none;
}
  
.input-error {
    text-align: center;
    color: red;
 }

 @media (prefers-reduced-motion: no-preference) {
    .enter-team {
      animation: App-logo-spin infinite 2s linear;
      cursor: pointer;
      border: coral 3px dotted;
    }
  }

 @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }